{% extends 'navigation.html' %}
{% load static %}
{% block title %}
<title>Contact page</title>
{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/contect.css' %}">
{% endblock %}
{% block home %}
<div class="about-title">
    <div class="img-container about-title">
    </div>
    <div class="about-me about-title">
        <h1 style="color: #fff;" class="about-title">- This website was developed by -</h1>
        <div class="text-myname"></i>- |
          <span>J</span>
          <span>a</span>
          <span>y</span>
          <span>a</span>
          <span></span>
          <span>K</span>
          <span>u</span>
          <span>m</span>
          <span>a</span>
          <span>r</span>
        | -</div>
        <h4 class="about-title" id="random-text"><span></span>developer</h4>
    </div>
</div> <br>
<div class="about-title about-para">
    <h2>About me:</h2>
    <p id="para" class="about-title">
        Proficient in React, JavaScript, HTML, CSS, Python, and SQL, with GIT
        for version control. Skilled in full-stack development, crafting dynamic
        web apps, and designing aesthetically pleasing interfaces. Demonstrated
        coding prowess, problem-solving skills, and a disciplined approach to
        time management, seeking to contribute in a dynamic, collaborative
        environment while expanding web development expertise.
      </p>
</div> <br> <br>
<div class="skills-container about-title">
    <h1>Skills: </h1>
    <div class="skills-icon-container about-title">
          <i class="fa-brands fa-html5 fa-bounce fa-xl" style="color: #ca1414;"></i>      
          <i class="fa-brands fa-css3-alt fa-shake" style="color: #003761;"></i>     
          <i class="fa-brands fa-js fa-fade" style="color: #e6be2d;"></i>     
          <i class="fa-brands fa-react fa-spin fa-spin-reverse" style="color: #74C0FC;"></i>      
          <i class="fa-brands fa-python fa-flip" style="color: #c841ab;"></i>     
          <i class="fa-brands fa-bootstrap fa-beat" style="color: #B197FC;"></i>      
    </div>
</div> <br><br>
<div id="Hotstar_project_container" class="about-title">
  <h1 class="about-title">My last project</h1>
    <h1 class="about-title">1. HOTSTAR WEBSITE CLONING</h1>
    <h3 class="about-title">• POPULAR STREAMING PLATFORM HOTSTAR WEBSITE CLONING 😊:</h3>
    <h1 class="about-title">About MY Project:</h1>
    <p class="about-title">
      The aim of my project is to replicate the user interface and
      functionality of the popular streaming platform Hotstar using HTML, CSS,
      and JavaScript. My project looks like exactly Disney+ Hotstar. And I
      include random images in main Home-screen like Hotstar using JavaScript
      and based on the image in left display that Image details. So, when I
      click to watch trailer on random image that image trailer will be play.
      è I aim to showcase my skills in front – end development and demonstrate
      my ability to create engaging and user-friendly web applications.
      Through this project, I also aim to improve my proficiency in HTML, CSS,
      and JavaScript while gaining hands-on experience in building responsive
      websites
    </p>
    <div id="link_container" class="about-title">
      <h2> <span>Click here : <i class="fa-solid fa-link"></i> </span> <a href="https://jkchan416848.github.io/My-website-HS/Disney+Hotstar.html" target="_blank">Open The Project</a></h2>
      <h2><span>GitHub Link: <i class="fa-brands fa-github"></i> </span> <a href="https://github.com/jkchan416848/Hotstar-Clone.git
        " target="_blank">Click Here</a></h2>
    </div>
  </div>
  <div class="final-contect about-title">
    <h1 style="color:forestgreen;">contact me </h1> <br>
   <div>
    <a href="https://www.linkedin.com/in/jaya-kumar-v-9841a7295/" target="_blank"> <i class="fa-brands fa-linkedin fa-shake"></i> </a>
    <a href="https://github.com/jkchan416848" target="_blank"> <i class="fa-brands fa-github fa-shake"> </i>
    </a>
    <a href="https://www.instagram.com/jaya_kumar_chan/?hl=en" target="_blank"> <i class="fa-brands fa-instagram fa-shake"></i> </a>
   </div>
  </div> <br><br>
<script src="https://kit.fontawesome.com/fa98085b76.js"
      crossorigin="anonymous"></script>
{% endblock %}
{% block script %}
<script defer src="{% static 'js/contect.js' %}"></script>
{% endblock %}